<div class="container">
  <h1>New Product</h1>
  Categories:
  <select [(ngModel)]="_selectedCategory" (ngModelChange)="onCategoryChange($event)" class="mt-3 form-select form-select-sm" aria-label=".form-select-sm example">

    <option *ngFor="let category of categories;" [ngValue]="category">{{category.name}}</option>
  </select>

  <form *ngIf="_selectedCategory">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input [(ngModel)]="product.name" name="product-name" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input [(ngModel)]="product.description" name="product-description" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input [(ngModel)]="product.price" name="product-price" type="number" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Photo url</label>
      <input [(ngModel)]="product.photo_url" name="product-photo_url" type="text" class="form-control">
    </div>

    <div class="mb-3" *ngFor="let values of product.field_values;index as i">
      <label class="form-label">{{fields[i].name}}</label>
      <input [(ngModel)]="values.value" type="text" name="new-value" class="form-control">
    </div>
  </form>

  <button *ngIf="_selectedCategory" (click)="submitProduct()" class="mt-5 btn btn-primary">Submit</button>
</div>
