<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-end">
      <h1>Products</h1>
      <a type="button" routerLink="add" class="btn btn-primary btn-lg">+Add</a>
    </div>
    Filter by category:
    <select [(ngModel)]="_selectedCategory" (ngModelChange)="onCategoryChange($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">

      <option [ngValue]="null">All</option>
      <option *ngFor="let category of categories;" [ngValue]="category">{{category.name}}</option>
    </select>

    <div class="mt-2" *ngIf="_selectedCategory">
      Fields:
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option *ngFor="let field of _selectedCategory.fields;" [ngValue]="field">{{field.name}}</option>
      </select>
    </div>

    <ul class="list-group mt-5">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let product of products;">
        {{product.name}}

        <button [routerLink]=[product.id] type="button" class="btn btn-info">Info</button>
      </li>
    </ul>
</div>
