<div class="container">

    <div class="d-flex justify-content-between align-items-end">
      <h1 class="mt-5">Products</h1>
      <a type="button" routerLink="add" class="btn btn-primary btn-lg">+Add</a>
    </div>
    Categories:
    <select [(ngModel)]="_selectedCategory" (ngModelChange)="onCategoryChange($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">

      <option *ngFor="let category of categories;" [ngValue]="category">{{category.name}}</option>
    </select>

    <div class="mt-2" *ngIf="selectedField!=null">
      Fields:
      <select  [(ngModel)]="selectedField"  class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option *ngFor="let field of fields;" [ngValue]="field">{{field.name}}</option>
      </select>
    </div>

    <ul class="list-group mt-5">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let product of products;">
        {{product.name}}
        <button class="badge bg-primary rounded-pill">
          <span class="p-3 badge bg-primary rounded-pill"></span>
        </button>
      </li>
    </ul>
</div>
